/Build/
/Cache/
/*.zip

##
## Client
##

/Client/data/cache/

/Client/ClientGL
/Client/CrashDump*.txt
/Client/*.exe
/Client/*.pdb
/Client/*.log

/Client/data/*.dat
/Client/data/*.zip

##
## Mapper
##

/Mapper/MapperGL
/Mapper/CrashDump*.txt
/Mapper/*.exe
/Mapper/*.log
/Mapper/*.pdb

##
## Server
##

/Server/dumps/
/Server/save/

/Server/maps/*.fomapb
/Server/scripts/CrashDump*.txt
/Server/scripts/*.dll
/Server/scripts/*.exe
/Server/scripts/*.fosb
/Server/scripts/*.fosp
/Server/scripts/*.pdb
/Server/scripts/*.so

/Server/Server
/Server/ServerFLTK*
/Server/ServerSDL2*
/Server/*.exe
/Server/*.pdb
